{% extends 'layout/base.html' %}

{% block title %}Home Page{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/leaflet.css')}}">
{% endblock %}

{% block inlineStyle %}
<style>
    #map {
        height: 93.7vh;
        border-radius: 5px;
    }

    #__map-pindah-modal {
        height: 93.7vh;
        /* width: 300px; */
    }
</style>
{% endblock %}

{% block content%}

{% include 'include/home-partial/navbar.html' %}

{% include 'include/home-partial/sidebar.html' %}

<main class="content pb-5">
    {% include 'include/home-partial/content-navbar.html' %}

    <div class="pt-5">
        <div class="row">
            <!-- Tower Dipindah -->
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div
                                class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                    <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM15 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"></path><path d="M3 4a1 1 0 00-1 1v10a1 1 0 001 1h1.05a2.5 2.5 0 014.9 0H10a1 1 0 001-1V5a1 1 0 00-1-1H3zM14 7a1 1 0 00-1 1v6.05A2.5 2.5 0 0115.95 16H17a1 1 0 001-1v-5a1 1 0 00-.293-.707l-2-2A1 1 0 0015 7h-1z"></path></svg>
                                </div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Tower Dipindah</h2>
                                    <h3 class="fw-extrabold mb-1">14 buah</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6 text-gray-400 mb-0">Tower Dipindah</h2>
                                    <h3 class="fw-extrabold mb-2">14 buah</h3>
                                </div>
                                <small class="d-flex align-items-center text-gray-500">
                                    Feb 1 - Apr 1,
                                    <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Batung
                                </small>
                                <div class="small d-flex mt-1">
                                    <div>Sejak akhir bulan <svg class="icon icon-xs text-success" fill="currentColor"
                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg><span class="text-success fw-bolder">3 Pemindahan</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tower Diperbaiki -->
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div
                                class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                    <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd"></path></svg>
                                </div>
                                <div class="d-sm-none">
                                    <h2 class="fw-extrabold h5">Tower Diperbaiki</h2>
                                    <h3 class="mb-1">3 buah</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6 text-gray-400 mb-0">Tower Diperbaiki</h2>
                                    <h3 class="fw-extrabold mb-2">3 Buah</h3>
                                </div>
                                <small class="d-flex align-items-center text-gray-500">
                                    Feb 1 - Apr 1,
                                    <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Balawaian
                                </small>
                                <div class="small d-flex mt-1">
                                    <div>Sejak akhir bulan <svg class="icon icon-xs text-danger" fill="currentColor"
                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg><span class="text-danger fw-bolder">1 Perbaikan</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tower Rusak -->
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div
                                class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                                    <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                </div>
                                <div class="d-sm-none">
                                    <h2 class="fw-extrabold h5"> Tower Rusak</h2>
                                    <h3 class="mb-1">5 Buah</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6 text-gray-400 mb-0"> Tower Rusak</h2>
                                    <h3 class="fw-extrabold mb-2">5 Buah</h3>
                                </div>
                                <small class="text-gray-500">
                                    Feb 1 - Apr 1
                                </small>
                                <div class="small d-flex mt-1">
                                    <div>Sejak akhir bulan <svg class="icon icon-xs text-success" fill="currentColor"
                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                                clip-rule="evenodd"></path>
                                        </svg><span class="text-success fw-bolder">2 Buah</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Map Lokasi Tower -->
            <div class="col-12 mb-4">
                <div class="card bg- border-0 shadow">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="d-block mb-3 mb-sm-0">
                            <!-- <div class="fs-5 fw-normal mb-2">TPP Map</div> -->
                            <h2 class="fs-3 fw-extrabold">Proyeksi Map Jaringan TPP</h2>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'include/common/modal/modal.html' %}

{% endblock %}

{% block jsScript %}
<script src="{{ url_for('static', filename='home/js/leaflet.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        /** 
         * 
         * 
         * Leaflet config on dashboard page
         * 
         * 
        */
        function markerClick (modalTarget) {
            // console.log(modalTarget)
            let modalElement = document.getElementById(`tower-detail__${modalTarget}`)
            let modal = bootstrap.Modal.getOrCreateInstance(modalElement)
            // console.log(modal)

            modal.show()
            // console.log(`.tower-detail__${modalTarget}`)
        }
        
        let cities = L.layerGroup()
        let tileMap = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'

        let grayscale = L.tileLayer(tileMap, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1 })
        let streets = L.tileLayer(tileMap, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1 })
        let satellite = L.tileLayer(tileMap, { id: 'mapbox/satellite-streets-v9', tileSize: 512, zoomOffset: -1 })

        let map = L.map('map', {
            zoom: 11,
            layers: [grayscale, cities],
            center: [-2.928304, 115.1611323]
        })

        let baseLayers = {
            "Streets": streets,
            "Satellite": satellite,
            "Grayscale": grayscale,
        };

        let map_list = {{map_list|tojson}};
        console.log(map_list)

        for (let map_item in map_list) {
            L.marker([map_list[map_item].latlang.latitude, map_list[map_item].latlang.longitude])
            .addTo(map)
            .on('click', () => markerClick(map_list[map_item].public_id))
        }

        L.control.layers(baseLayers).addTo(map);
        L.control.scale().addTo(map)

        /**
         * 
         * 
         * Leaflet config on "pindah lokasi" modal event onClick.
         * 
         */
        let modalCities = L.layerGroup()
        let modalTileMap = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'

        let modalGrayscale = L.tileLayer(modalTileMap, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1 })
        let modalStreets = L.tileLayer(modalTileMap, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1 })
        let modalSatellite = L.tileLayer(modalTileMap, { id: 'mapbox/satellite-streets-v9', tileSize: 512, zoomOffset: -1 })

        let modalMap = L.map('__map-pindah-modal', {
            zoom: 11,
            layers: [modalSatellite, modalCities],
            center: [-2.928304, 115.1611323]
        })

        let modalBaseLayers = {
            "Streets": modalStreets,
            "Satellite": modalSatellite,
            "Grayscale": modalGrayscale,
        };


        L.control.layers(modalBaseLayers).addTo(modalMap);
        L.control.scale().addTo(modalMap)


    })
</script>
{% endblock %}