{% extends 'layout/base.html' %}

{% block title %}Add new tower{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/leaflet.css')}}">
{% endblock %}

{% block inlineStyle %}
<style>
    #map {
        height: 93.7vh;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content%}

{% include 'include/home-partial/navbar.html' %}

{% include 'include/home-partial/sidebar.html' %}

<main class="content pb-5">
    {% include 'include/home-partial/content-navbar.html' %}

    <div class="pt-5">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card bg- border-0 shadow">
                    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                        <div class="d-block mb-3 mb-sm-0">
                            <h2 class="fs-3 fw-extrabold">Tambah data tower</h2>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe
                                    neque
                                    cumque officiis amet veritatis in sapiente perspiciatis, eum tempora tempore fuga,
                                    harum
                                    qui beatae incidunt consequatur quibusdam hic dolore expedita?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}

{% block jsScript %}
{% endblock %}