<!-- Generate modal based on public id from map list -->
{% for map_data in map_list %}
<div class="modal fade" id="tower-detail__{{map_data.public_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h2 class="h6 modal-title">Informasi Tower</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="card shadow-sm mb-5">
                      <h5 class="card-header">Informasi Tower</h5>
                      <div class="card-body">
                        <div class="table-responsive mb-5">
                          <table class="table table-borderless text-center">
                            <thead>
                              <tr>
                                <th scope="col">Lokasi koordinat (lat, lang)</th>
                                <th scope="col">Alamat</th>
                                <th scope="col">ISP Provider</th>
                                <th scope="col">Tanggal instalasi</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{ map_data.latlang.latitude }}, {{ map_data.latlang.longitude }}</td>
                                <td>{{ map_data.address}}</td>
                                <td>{{ map_data.isp_provider}}</td>
                                <td>{{ map_data.installation_date.strftime('%A, %d %B %Y') }}</td>  
                            </tbody>
                          </table>
                        </div>

                        <div class="accordion pb-4" id="__accordion-extra-{{ map_data.public_id }}">
                          
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="__accordion-extra-heading-{{ map_data.public_id }}-{{ loop.index }}">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#__accordion-data-{{ map_data.public_id }}-{{ loop.index }}" aria-expanded="true" aria-controls="__accordion-data-{{ map_data.public_id }}-{{ loop.index }}">
                                <span>Keterangan</span>
                              </button>
                            </h2>
                            <div id="__accordion-data-{{ map_data.public_id }}-{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="__accordion-extra-heading-{{ map_data.public_id }}-{{ loop.index }}" data-bs-parent="#__accordion-extra-{{ map_data.public_id }}">
                              <div class="accordion-body show">
                                {{ map_data.desc }}
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                          <a class="btn btn btn-warning me-md-2" href="{{url_for('public_controller.public_move_tower')}}?tower_id={{map_data.tower_id}}">Pindah lokasi tower</a>
                          <a class="btn btn-danger" href="{{url_for('public_controller.public_delete_tower', tower=map_data.tower_id)}}">Hapus titik tower</a>
                        </div>

                      </div>
                    </div>

                    {% if map_data.report|length >= 1 %}
                    <div class="card shadow-sm mb-5">
                      <h5 class="card-header">Status Tower</h5>
                      <div class="card-body">
                        <div class="accordion" id="__accordion-status-{{ map_data.public_id }}">
                          {% if map_data.report|length >= 1%}
                          {% for status in map_data.report %}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="__accordion-status-heading-{{ map_data.public_id }}-{{ loop.index }}">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#__accordion-status-collapse-{{ map_data.public_id }}-{{ loop.index }}" aria-expanded="true" aria-controls="__accordion-status-collapse-{{ map_data.public_id }}-{{ loop.index }}">
                                <span>{{ status.status|capitalize }} pada {{ status.report_date.strftime("%A") }}, {{ status.report_date.strftime("%d/%m/%Y") }}</span>
                              </button>
                            </h2>
                            <div id="__accordion-status-collapse-{{ map_data.public_id }}-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="__accordion-status-heading-{{ map_data.public_id }}-{{ loop.index }}" data-bs-parent="#__accordion-status-{{ map_data.public_id }}">
                              <div class="accordion-body">
                                <div class="__generated-report">
                                  <h3 class="pb-2">Laporan {{ status.status|capitalize }}</h3>
                                  <p>{{ status.report_desc }}</p>
                                  {% if status.status == 'perpindahan' %}
                                  <p>Dipindahkan ke alamat <strong>{{map_data.address}}</strong> dari <strong>{{status.address_history}}</strong></p>
                                  <a class="btn btn-secondary" target="_blank" href="{{url_for('public_controller.public_check_location')}}?lat={{status.move_from.latitude}}&lng={{status.move_from.longitude}}">Lihat posisi awal</a>
                                  {% endif %}
                                  <div class="text-end">
                                    <span class="text-muted fw-bold" style="font-size: small;">Tanggal {{ status.report_date.strftime("%d %B %Y") }}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>

                      </div>
                    </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Generate modal based on public id from map list -->

<!-- Tambah Tower -->
<div class="modal fade" id="modal-add__tower" tabindex="-1" role="dialog" aria-labelledby="modal-add__tower"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h6 modal-title">Tambah lokasi tower</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/add" method="post" class="container-fluid" name="__injectable-form">
          {% include 'include/form/_formcsrf.html' %}

          <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
              <label for="tower-latitude" class="form-label">Latitude</label>
              <input type="text" name="tower-latitude" class="form-control" id="tower-latitude" placeholder="latitude tower Eg. -2.933880" required>
            </div>

            <div class="col-sm-12 col-md-6 mb-3">
              <label for="tower-longitude" class="form-label">Longitude</label>
              <input type="text" name="tower-longitude" class="form-control" id="tower-longitude" placeholder="longitude tower Eg. 115.1611323" required>
            </div>
            

            <div class="col-sm-12 col-md-12 mb-3">
              <label class="my-1 me-2" for="tower-isp">Nama ISP</label>
              <select name="tower-isp" class="form-select" id="tower-isp" required>
                  <option selected value="xl">Xl Axiata</option>
                  <option value="simpati">Simpati</option>
                  <option value="tri">Tri</option>
              </select>
              <div id="tower-isp__help" class="form-text">Pilih salah satu isp yang tersedia</div>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-address" class="form-label">Alamat tower</label>
              <textarea name="tower-address" class="form-control" id="tower-address" required></textarea>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-desc" class="form-label">Keterangan</label>
              <textarea name="tower-desc" class="form-control" id="tower-desc"></textarea>
            </div>

          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary mb-3" type="submit">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Tambah Tower -->

<!-- Laporan kerusakan -->
<div class="modal fade" id="modal-report-kerusakan" tabindex="-1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h6 modal-title">Laporan Kerusakan</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/report/damage" method="post" class="container-fluid">
          {% include 'include/form/_formcsrf.html' %}

          <div class="row">            

            <div class="col-sm-12 col-md-12 mb-3">
              <label class="my-1 me-2" for="tower-damage-coord">Titik koordinat</label>
              <select name="tower-damage-coord" class="form-select" id="tower-damage-coord" required>
                <option selected disabled value="">Pilih titik koordinat</option>                  
                {% for tower in tower_list %}
                <option value="tower#{{ tower.id }}-{{tower.latlang.latitude}}/{{tower.latlang.longitude}}">{{ tower.address|capitalize }}, Koordinat ({{ tower.latlang.latitude }}, {{ tower.latlang.longitude }})</option>
                {% endfor %}
              </select>
              <div id="tower-damage-coord__help" class="form-text">Pilih titik koordinat</div>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-damage-date" class="form-label">Tanggal laporan</label>
              <input type="date" name="tower-damage-date" class="form-control" id="tower-damage-date" required>
              <div id="tower-damage-date__help" class="form-text">masukkan waktu E.g</div>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-damage-description" class="form-label">Keterangan kerusakan</label>
              <textarea name="tower-damage-description" class="form-control" id="tower-damage-description" required></textarea>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary mb-3" type="submit">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Laporan kerusakan -->

<!-- Laporan perbaikan -->
<div class="modal fade" id="modal-report-perbaikan" tabindex="-1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h6 modal-title">Laporan Perbaikan</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/report/repr" method="post" class="container-fluid">
          {% include 'include/form/_formcsrf.html' %}

          <div class="row">            

            <div class="col-sm-12 col-md-12 mb-3">
              <label class="my-1 me-2" for="tower-repair-coord">Titik koordinat</label>
              <select name="tower-repair-coord" class="form-select" id="tower-repair-coord" required>
                <option selected disabled value="">Pilih titik koordinat</option>                  
                {% for tower in tower_list %}
                <option value="tower#{{ tower.id }}-{{tower.latlang.latitude}}/{{tower.latlang.longitude}}">{{ tower.address|capitalize }}, Koordinat ({{ tower.latlang.latitude }}, {{ tower.latlang.longitude }})</option>
                {% endfor %}
              </select>
              <div id="tower-repair-coord__help" class="form-text">Pilih titik koordinat</div>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-repair-date" class="form-label">Tanggal laporan</label>
              <input type="date" name="tower-repair-date" class="form-control" id="tower-repair-date" required>
              <div id="tower-repair-date__help" class="form-text">masukkan waktu E.g (01/02/2022, 12:01 AM)</div>
            </div>

            <div class="col-sm-12 col-md-12 mb-3">
              <label for="tower-repair-description" class="form-label">Keterangan kerusakan</label>
              <textarea name="tower-repair-description" class="form-control" id="tower-repair-description" required></textarea>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary mb-3" type="submit">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Laporan perbaikan -->

<!-- Penghapusan tower -->
<div class="modal fade" id="modal-penghapusan-tower" tabindex="-1" role="dialog" aria-labelledby="modal-default"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h6 modal-title">Hapus titik tower</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Accept</button>
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Penghapusan tower -->