{% extends 'layout/base.html' %}

{% block title %}Detail Tower{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/leaflet.css')}}">
{% endblock %}

{% block inlineStyle %}
{% endblock %}

{% block content%}

{% include 'include/home-partial/navbar.html' %}

{% include 'include/home-partial/sidebar.html' %}

<main class="content pb-5">
  {% include 'include/home-partial/content-navbar.html' %}

  <div class="pt-5">
    <div class="row">
      <!-- Map Lokasi Tower -->
      <div class="col-sm-12 col-md-4 mb-4">
        <div class="card bg- border-0 shadow">
          <div class="card-header d-sm-flex flex-row align-items-center flex-0">
            <div class="d-block mb-3 mb-sm-0">
              <h3 class="fs-3 fw-extrabold">Detail tower</h3>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="container-fluid">
              <div class="row mb-3">
                <label for="tower-name" class="col-sm-4 col-form-label">Nama Tower</label>
                <div class="col-sm-12 col-md-8">
                  <input type="text" class="form-control" id="tower-name" value="{{ tower_detail.tower_name }}"
                    disabled>
                </div>
              </div>

              <div class="row mb-3">
                <label for="tower-isp" class="col-sm-4 col-form-label">ISP yang digunakan</label>
                <div class="col-sm-12 col-md-8">
                  <input type="text" class="form-control" id="tower-isp" value="{{ tower_detail.isp_provider }}"
                    disabled>
                </div>
              </div>

              <div class="row mb-3">
                <label for="tower-coords" class="col-sm-4 col-form-label">Koordinat lokasi</label>
                <div class="col-sm-12 col-md-8">
                  <textarea class="form-control" id="tower-coords"
                    disabled>(Latitude : {{ tower_detail.latlang.latitude }}, Longitude : {{tower_detail.latlang.longitude}})</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="tower-address" class="col-sm-4 col-form-label">Alamat</label>
                <div class="col-sm-12 col-md-8">
                  <textarea class="form-control" id="tower-address" disabled>{{ tower_detail.address }}</textarea>
                </div>
              </div>

              <div class="row mb-3">
                <label for="tower-desc" class="col-sm-4 col-form-label">Keterangan</label>
                <div class="col-sm-12 col-md-8">
                  <textarea class="form-control" id="tower-desc" disabled>{{ tower_detail.desc }}</textarea>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Map Lokasi Tower -->
      <div class="col-sm-12 col-md-8 mb-4 lokasi-tower">
        <div class="card bg- border-0 shadow">
          <div class="card-header d-sm-flex flex-row align-items-center flex-0">
            <div class="d-block mb-3 mb-sm-0">
              <h3 class="fs-3 fw-extrabold">Laporan masalah</h3>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="container-fluid">
              <div class="row">
                {% if tower_report.items|length >= 1 %}
                <table class="table table-responsive mb-4 mt-4">
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Jenis Laporan</th>
                      <th scope="col">Tanggal</th>
                      <th scope="col">Keterangan</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for report in tower_report.items %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>Laporan <strong class="fw-bolder">{{ report.status.capitalize() }}</strong></td>
                      <td>{{ report.report_date.strftime("%A, %d/%m/%Y") }}</td>
                      <td>{{ report.report_desc }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <div class="col-sm-12">
                  <div class="d-flex justify-content-center flex-column align-items-center pt-3 pb-3">
                    <nav>
                      <ul class="pagination mb-0">
                        <li class="page-item {% if tower_report.page == 1 %} disabled {% endif %}">
                          <a class="page-link"
                            href="{{ url_for('public_controller.public_tower_detail', tower=tower_detail.tower_id, page=tower_report.prev_num) }}">Previous</a>
                        </li>

                        {% for page_num in tower_report.iter_pages() %}
                        {% if tower_report.page == page_num %}
                        <li class="page-item active">
                          <a class="page-link"
                            href="{{ url_for('public_controller.public_tower_detail', tower=tower_detail.tower_id, page=page_num) }}">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link"
                            href="{{ url_for('public_controller.public_tower_detail', tower=tower_detail.tower_id, page=page_num) }}">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        <li class="page-item {% if tower_report.page == tower_report.pages %} disabled {% endif %}">
                          <a class="page-link"
                            href="{{ url_for('public_controller.public_tower_detail', tower=tower_detail.tower_id, page=tower_report.next_num) }}">Next</a>
                        </li>
                      </ul>
                    </nav>

                    <div class="pb-3 pt-4">
                      <p class="text-muted fw-light text-capitalize" style="font-size: 13px;">
                        menampilkan
                        {% if tower_report.page != tower_report.pages %}
                        {{ tower_report.page }} / <span style="font-weight: bold;">{{ tower_report.pages }}</span>
                        {% else %}
                        <span style="font-weight: bold;">{{ tower_report.page }}</span> /
                        <span style="font-weight: bold;">{{ tower_report.pages }}</span>

                        {% endif %}
                        halaman
                      </p>
                    </div>
                  </div>
                </div>

                {% else %}
                <h3 class="text-center">Laporan kosong</h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% include 'include/common/modal/modal.html' %}

{% endblock %}

{% block jsScript %}
<script src="{{ url_for('static', filename='home/js/leaflet.js')}}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log('document loaded...!')
  })
</script>
{% endblock %}